/* Coolors Exported Palette - https://coolors.co/939775-022d23-faead7-557265-0c463c */

/* CSS HEX */
--moss-green: #939775ff;
--dark-green: #022D23ff;
--antique-white: #FAEAD7ff;
--hookers-green: #557265ff;
--brunswick-green: #0C463Cff;

/* CSS HSL */
--moss-green: hsla(67, 14%, 53%, 1);
--dark-green: hsla(166, 91%, 9%, 1);
--antique-white: hsla(33, 78%, 91%, 1);
--hookers-green: hsla(153, 15%, 39%, 1);
--brunswick-green: hsla(170, 71%, 16%, 1);

/* SCSS HEX */
$moss-green: #939775ff;
$dark-green: #022D23ff;
$antique-white: #FAEAD7ff;
$hookers-green: #557265ff;
$brunswick-green: #0C463Cff;

/* SCSS HSL */
$moss-green: hsla(67, 14%, 53%, 1);
$dark-green: hsla(166, 91%, 9%, 1);
$antique-white: hsla(33, 78%, 91%, 1);
$hookers-green: hsla(153, 15%, 39%, 1);
$brunswick-green: hsla(170, 71%, 16%, 1);

/* SCSS RGB */
$moss-green: rgba(147, 151, 117, 1);
$dark-green: rgba(2, 45, 35, 1);
$antique-white: rgba(250, 234, 215, 1);
$hookers-green: rgba(85, 114, 101, 1);
$brunswick-green: rgba(12, 70, 60, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #939775ff, #022D23ff, #FAEAD7ff, #557265ff, #0C463Cff);
$gradient-right: linear-gradient(90deg, #939775ff, #022D23ff, #FAEAD7ff, #557265ff, #0C463Cff);
$gradient-bottom: linear-gradient(180deg, #939775ff, #022D23ff, #FAEAD7ff, #557265ff, #0C463Cff);
$gradient-left: linear-gradient(270deg, #939775ff, #022D23ff, #FAEAD7ff, #557265ff, #0C463Cff);
$gradient-top-right: linear-gradient(45deg, #939775ff, #022D23ff, #FAEAD7ff, #557265ff, #0C463Cff);
$gradient-bottom-right: linear-gradient(135deg, #939775ff, #022D23ff, #FAEAD7ff, #557265ff, #0C463Cff);
$gradient-top-left: linear-gradient(225deg, #939775ff, #022D23ff, #FAEAD7ff, #557265ff, #0C463Cff);
$gradient-bottom-left: linear-gradient(315deg, #939775ff, #022D23ff, #FAEAD7ff, #557265ff, #0C463Cff);
$gradient-radial: radial-gradient(#939775ff, #022D23ff, #FAEAD7ff, #557265ff, #0C463Cff);