/* HEX COLORS */
/* Aqua: #26877f  Red: #b53434   White: #ede7f1 */



body {
    font-family: "Optima", "Segoe", "Segoe UI", "Candara", "Calibri", "Arial", "sans-serif";
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #FAEAD7ff;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

header {
    display: flex;
    background-color: #0C463Cff;
    border-radius: 1vh;
}

header>img {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    height: 5rem;
    padding: 1rem;
}

nav {
    display: flex;
    flex: 1;
    color: #FAEAD7ff;
    justify-content: center;
}

nav a {
    color: #FAEAD7ff;
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-align: center;
    width: 100%;
}

nav li {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vh;
    transition: border 0.2s;
}

nav li:hover {
    border-bottom: 0.5vh solid #FAEAD7ff;
}

/* Post Image Overlay */
#cactus-img {
    position: relative;
    width: 100%;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1vh;
}

.overlay-container {
    position: relative;
    padding-top: 2%;
}

.overlay-text {
    position: absolute;
    top: 10%;
    padding-left: 3vw;
    width: 100%;
    color: #2d2d2d;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.overlay-text h1 {
    font-size: 4vw;
    margin-bottom: 2vh;
}

.overlay-text p {
    font-size: 2.5vw;
    padding-right: 45vw;
}

#sub-articles {
    margin: 5vh 0vh;
}

section {
    display: flex;
}

article {
    flex: 1;
}

.linked-article {
    color: #FAEAD7ff;
    background-color: #0C463Cff;
    margin: 1vh;
    text-align: center;
    border: .5vw solid transparent; /* Start with a transparent border */
    border-radius: 1vh;
    transition: border .3s, border-radius .3s; /* Transition the border */
}

.linked-article:hover {
    border: .5vw solid #c6c9ae;
    border-radius: 2vw;
}

.linked-article img {
    width: 90%;
    height: auto;
    margin: 0 auto;
    border-radius: 2%;
}

.linked-article p {
    font-size: 2vh;
    width: 90%;
    margin: 1vh auto;
    padding: 2vh 0vh;
}

.linked-article h2 {
    font-weight: 100;
    font-size: 4vh;
    margin-top: 0vh;
    padding-top: 3vh;
}

footer {
    display: flex;
    background-color: #0C463Cff;
    align-items: end;
    border-radius: 1vh;
}

footer div {
    flex: 1;
}

footer p {
    display: flex;
    justify-content: left;
    color: #FAEAD7ff;
    font-size: 1.5vh;
    padding: 2vw;
}

footer img {
    display: flex;
    margin-left: auto;
    height: 7vh;
    padding: 1rem;
}